    <th scope="row">{{articulo.id}}</th>
    <td class="imgTd"><img class="w-25" src="{{articulo.imagen}}"></td>
    <td>{{articulo.nombre}}</td>
    <td>{{articulo.descripcion}}</td>
    <td *ngIf="articulo.rebaja"><span class="Rebajado">Rebajado: {{articulo.precioRebaja}}</span>(Original: {{articulo.precioOriginal}})</td>
    <td>{{articulo.color}}</td>
    <td>{{articulo.talla}}</td>
    <td>{{articulo.cantidad}} 
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <button class="btn btn-primary" (click)="articulo.incrementarCantidad()" (click) = "{{articulo.calcularImporte()}}"> + </button>
        </label>
        <label class="btn btn-secondary">
          <button class="btn btn-primary" (click)="articulo.decrementarCantidad()" (click) = "{{articulo.calcularImporte()}}"> - </button>
        </label>
      </div></td>
    <td>{{articulo.importe}}</td>
