<app-banner></app-banner>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Producto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Color</th>
      <th scope="col">Talla</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Importe</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let articulo of listaArticulos">
      <th scope="row">{{articulo.id}}</th>
      <td class="imgTd"><img class="w-25" src="{{articulo.imagen}}"></td>
      <td>{{articulo.nombre | textoMayuscula}}</td>
      <td>{{articulo.descripcion | textoMayuscula}}</td>
      <td *ngIf="articulo.rebaja"><span class="Rebajado">Rebajado: {{articulo.precioRebaja | currency: 'EUR' }}</span>(Original:
        {{articulo.precioOriginal | currency: 'EUR' }})</td>
      <td>{{articulo.color}}</td>
      <td>{{articulo.talla}}</td>
      <td>{{articulo.cantidad}}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <button class="btn btn-primary" (click)="articulo.incrementarCantidad()"
              (click)="articulo.calcularImporte()"> + </button>
          </label>
          <label class="btn btn-secondary">
            <button class="btn btn-primary" (click)="articulo.decrementarCantidad()"
              (click)="articulo.calcularImporte()"> - </button>
          </label>
        </div>
      </td>
      <td>{{articulo.importe | currency: 'EUR' }}</td>
    </tr>
    <app-articulo *ngFor="let articulo of listaArticulos" [articulo]="articulo"></app-articulo>
  </tbody>
</table>
<div>
  <p class="w-100 text-center">COPYRIGHT {{fecha | date:'yyyy'}}</p>
</div>